.tech {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1280px;
}

.tech__header {
    margin-top: 77px;
}

.tech-title {
    margin: 23px auto;
}

.tech-subtitle {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0;
    text-align: center;
    margin: 90px auto 0;
}

.tech-text {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    max-width: 460px;
    margin: 26px auto 0;
}

.tech-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 100px auto;
}

.tech-item {
    width: 90px;
    height: 60px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.timeline {
    height: 36px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

.timeline_blue {
    background-color: #3456F3;
    width: 21%;
    color: #FFFFFF;
}

.timeline_grey {
    width: 79%;
    background-color: #f2f2f2;
}

.signature {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: #A0A0A0;
}

.signature:first-child {
    width: 20%;
}

.signature:last-child {
    width: 80%;
}

@media screen and (max-width: 800px) {
    .tech__header {
        margin-top: 55px;
    }

    .tech-subtitle {
        margin: 80px auto 0;
        letter-spacing: -0.04em;
    }

    .tech-text {
        font-size: 12px;
        line-height: 18px;
        margin: 22px auto 0;
        letter-spacing: -0.04em;
    }

    .tech-list {
        margin: 83px auto 90px;
    }

    .tech-item {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 500px) {
    .tech {
        background-color: #FAFAFA;
        max-width: 320px;
        width: 95%;
    }

    .tech__header {
        margin-top: 10px;
    }

    .tech-title {
        margin: 28px auto;
    }

    .tech-subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 60px auto 0;
    }

    .tech-text {
        font-size: 11px;
        line-height: 16px;
        max-width: 292px;
        margin: 24px auto 0;
    }

    .tech-list {
        flex-wrap: wrap;
        margin: 50px 71px 70px;
        justify-content: flex-start;
    }

    .tech-item {
        width: 84px;
        height: 57px;
        display: flex;
        font-size: 12px;
        line-height: 14px;
    }

    .timeline {
        height: 35px;
        font-size: 11px;
        line-height: 13px;
    }

    .timeline_blue {
        width: 35%;
    }
    
    .timeline_grey {
        width: 65%;
    }
    
    .signature {
        margin: 10px auto;
        font-size: 11px;
        font-weight: 400;
        line-height: 12px;
    }
    
    .signature:first-child {
        width: 35%;
    }
    
    .signature:last-child {
        width: 65%;
    }
}